// LAYOUTS
.block-center { @include content(); margin: 0 auto; }
.fixed { position: fixed; z-index: $highest; }
.line { @include content(); width: 40px; height: 1px; background: white; margin: 30px auto; }
.width-sm { max-width: 768px; }
.width-md { max-width: 1024px; }
.width-xl { max-width: 1440px; }
.width-xxl { max-width: 2000px; }

// TYPOGRAPHY
.text-center { text-align: center; }
.text-xl { font-size: 1.5em; }
.text-white { color: white; }
.text-grey { color: #666; }
.uppercase { text-transform: uppercase; }


// BOOTSTRAP GRIDS
.no-gutter [class*="col"] { padding: 0; 
	@include breakpoint (xxxl) { padding: 20px; }
}

// OVERLAYS
.overlay-dark { position: absolute; width: 100%; height: 100%; color: white; background-color:rgba(0, 0, 0, 0.66); }

// BUTTONS
a button.main { color: #333; font-size: .66em; letter-spacing: 1.5px; }
button.main { background: transparent; border: 3px solid #333; font-family: $secondary-font-family; text-transform: uppercase; padding: 10px; margin: 40px 0; background: transparent; @include transition(.25s);
	&:hover { background: rgba(0, 0, 0, 0.1); }
}
button.play-pause { background: url(../img/sprite-playPause-white.png); background-size: 95%; width: 30px; height: 30px; border: 0; @include opacity(.5); @include transition(.25s); 
	&:hover { @include opacity(1); }
	&:focus { outline: none; }
}
button.play-pause.is-playing { background-position: top; }
button.play-pause.is-paused { background-position: bottom; }

// ARROWS
.arrow { width: 50px; height: 50px; padding: 48px 0; @include opacity(.5); @include transition(.25s);
	&:hover { @include opacity(1); }
}
.arrow-down { background: url(../img/arrow-down.png) no-repeat center; background-size: 100%; }

// EFFECTS
.fade-out { @include opacity(0); @include transition(.5s); &:hover { @include opacity(0); } }